/* =============================================
   MYLINKS - ESTILOS BASE
   En las próximas clases construirás encima
   de estos estilos para mejorar el diseño.
   ============================================= */

/* --- ESTILOS GLOBALES --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  flex-direction:column;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #151520;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- TARJETA PRINCIPAL --- */
.card {
  width: 90%;
  max-width: 400px;
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* --- FOTO DE PERFIL --- */
.avatar {
  border-radius: 50%;
}

/* --- NOMBRE --- */
.name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* --- BIO --- */
.bio {
  font-size: 1rem;
  color: #9999aa;
  margin-bottom: 2rem;
  text-align:center;
}

/* --- CONTENEDOR DE ENLACES --- */
.links {
  width: 100%;
}

/* --- CADA ENLACE --- */
.link {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #2a2a38;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.5rem;
 
}

/* ========================================
   RESPONSIVE: Tablets y Desktop (768px+)
   ======================================== */
@media (min-width: 768px) {

    .card {
        max-width: 500px;
    }

    .name {
        font-size: 2.5rem;
    }

    .link {
        transition: transform 0.2s ease;
        margin-bottom: 1.25rem;
    }

    .link:hover {
        transform: scale(1.02);
    }

    .avatar {
        width: 130px;
        height: 130px;
    }
}